<h3>Policy Reports</h3>

<ul>
{% for paper in site.data.publications.policy_reports %}
<li>
<strong>{{ paper.title }}</strong><br>
{{ paper.authors }} ({{ paper.year }})<br>
<a href="{{ paper.link }}">Download</a>
</li>
{% endfor %}
</ul>


<!-- <h3>Publications</h3>

<ul>
{% for paper in site.data.publications.publications %}
<li>
<strong>{{ paper.title }}</strong><br>
{{ paper.authors }} ({{ paper.year }})
</li>
{% endfor %}
</ul>


<h3>Work in Progress</h3>

<ul>
{% for paper in site.data.publications.work_in_progress %}
<li>
<strong>{{ paper.title }}</strong><br>
{{ paper.authors }} ({{ paper.year }}) – {{ paper.note }}
</li>
{% endfor %}
</ul> -->